@model IEnumerable<DetailClient>
@{
    ViewData["Title"] = "Clients";
}
<h2>Clients</h2>

<button id="btnCreate" class="btn btn-success">Создать</button>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>


<table class="table table-hover">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Email</th>
            <th>Телефон</th>
            <th>Дата Рождения</th>
            <th>Операции над данными</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var detailClient in Model)
            {
                 <tr>
                    <td>@detailClient.Client.FirstName</td>
                    <td>@detailClient.Client.LastName</td>
                    <td>@detailClient.Client.Patronymic</td>
                    <td>@detailClient.Email</td>
                    <td>@detailClient.Phone</td>
                    <td>@detailClient.BirthDate.ToShortDateString()</td>

                    <td>
                       @Html.ActionLink("Редактировать", "Edit", new {id = @detailClient.id}, new {@class = "clientItem"})
                       
                       @Html.ActionLink("Удалить", "Delete", new {id = @detailClient.id}, new {@class = "clientItem"})
                    </td>
                </tr>
            }
        
    </tbody>
</table>


@section scripts
{
    <script type="text/javascript">
 
        $('#btnCreate').on('click', function (e) {
            
             e.preventDefault();
                $.get("@Url.Action("Create")", function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                    console.log(this.href);
                });
        });
        $(function () {
            $.ajaxSetup({ cache: false });
           $(".clientItem").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                    console.log(this.href);
                });
           });
        })
    </script>
}