@model IEnumerable<ShopProduct>
@{
    ViewData["Title"] = "Clients";
}
<h2>ShopProducts</h2>


<button id="btnCreate" class="btn btn-success">Создать</button>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog modal-lg"></div>
</div>

@*<div id="modDialogNew" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
    <img class="imagepreview" src="">
</div>*@

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <a asp-action="ShopProducts" asp-route-sortState=@ViewBag.DateSort>Дата покупки</a>
            </th>
            <th>
                <a asp-action="ShopProducts" asp-route-sortState=@ViewBag.AmmountSort>Сумма чека</a>
            </th>
            <th>Фото покупки</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var order in Model)
            {
                 <tr>
                    <td>@order.BuyDate.ToShortDateString()</td>
                    <td>@order.CheckAmmount</td>
                    <td>
                       <a href="@Url.Action("ImageShow", "Home", new { id = @order.id }, null)" class="links">
                            <img class="image" style="width:30%;cursor:zoom-in" src="data:@(order.ImageFormat);base64,@System.Convert.ToBase64String(@order.ScreenImage)"/>
                        </a>
                        
                    </td>
                    <td>
                       @Html.ActionLink("Детали", "Detail", new {id = @order.id}, new {@class = "orderItem"})
                       @Html.ActionLink("Удалить", "DeleteShop", new {id = @order.id}, new {@class = "orderItem"})
                    </td>
                </tr>
            }
        
    </tbody>
</table>


@section scripts
{
    <script type="text/javascript">
 
        $('#btnCreate').on('click', function (e) {
             e.preventDefault();
                $.get("@Url.Action("CreateShop")", function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                    console.log(this.href);
                });
        });
        $(function () {
            $.ajaxSetup({ cache: false });
           $(".orderItem").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                    console.log(this.href);
                });
           });
        })

        $(function () {
            $.ajaxSetup({ cache: false });
           $(".links").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                    console.log(this.href);
                });
           });
        })


        //$(function() {
        //    $('.image').on('click', function() {
        //        alert("Image Show")
        //         var a = $('.image').attr('src');
        //         console.log(a);
        //         $('.imagepreview').attr('src', $('.image').attr('src'));
        //         $('#modDialog').modal('show');   
        //         });     
        //      });

        @*//$(".image").on('click', function (e) {
            
        //     e.preventDefault();
        //     var a = $('.image').attr('src');
        //     alert(a)
        //        $.get("@Url.Action("ImageShow")", function (data) {
        //            $('#dialogContent').html(data);
        //            $('.imagepreview').attr('src', $('.image').attr('src'));
        //            $('#modDialogNew').modal('show');
        //            console.log(this.href);
        //        });
        //});*@
    </script>
}